name: traffic_light
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - pytorch
  - torchvision
  - torchaudio
  - pip:
      - ultralytics
      - opencv-python
      - paho-mqtt